@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-bank11:before {
	content: "\e000";
}
.flaticon-bull:before {
	content: "\e001";
}
.flaticon-event5:before {
	content: "\e002";
}
.flaticon-facebook1:before {
	content: "\e003";
}
.flaticon-film64:before {
	content: "\e004";
}
.flaticon-flag77:before {
	content: "\e005";
}
.flaticon-front1:before {
	content: "\e006";
}
.flaticon-graduate20:before {
	content: "\e007";
}
.flaticon-hospital11:before {
	content: "\e008";
}
.flaticon-instagram10:before {
	content: "\e009";
}
.flaticon-link5:before {
	content: "\e00a";
}
.flaticon-newspaper11:before {
	content: "\e00b";
}
.flaticon-person111:before {
	content: "\e00c";
}
.flaticon-policeman1:before {
	content: "\e00d";
}
.flaticon-poll:before {
	content: "\e00e";
}
.flaticon-tennis18:before {
	content: "\e00f";
}
.flaticon-twitter6:before {
	content: "\e010";
}
