a {
	color:#E77817;
}

#wrapper {
	height:100%;
	/* background:#efefef url('images/bodybg.png') repeat fixed; */
	font-family: Calibri;
	background: url('images/bodybg.jpg') no-repeat top center fixed;
	background-color: #EFEFEF;
}

.container {
	width:1000px !important;
}

#adminnav .navbar {
	margin-bottom:0px;
}

#page {
	background:#ffffff;
	margin-bottom:0px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font-size:15px;
}

#page h1 {
	margin-top:0px;
	font-size:28px;
	font-family: calibri;
}

#page a {
	color:#333333;
}	

#page a:hover {
	color:#01324F;
	text-decoration:none;
	
}

@keyframes animatedBackground {
	0% { background-position: center 0px; }
	60% { background-position: center -320px; }		
	100% { background-position: center -320px;	}
}

#header {
background-color: white;
}

#logo {
	margin-top: 20px;
	margin-left:20px;
	margin-bottom:20px;
}

#mainnav {
	background:none;
	
	margin-bottom:20px;
}

#mainnav .navbar{
	font-family: 'BebasNeue';
	margin-bottom:0px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
	background: rgb(255,183,107); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
	
}

#mainnav .dropdown-menu {
	background-color: #F9AC55;
}


#mainnav .navbar .navbar-nav > li > a {
	color:#ffffff;
	font-family:'BebasNeue';
	font-size:20px;
	text-transform:uppercase;
}

#mainnav .navbar .navbar-nav > li > a:hover {
	background-color: #E37907;
}

#mainnav .navbar .navbar-nav > li.open {
	
}

#mainnav .navbar .navbar-nav > li.open > a {
	color:#ffffff;
	text-transform:uppercase;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
	background:#E37907;
}

#mainnav .navbar .dropdown-menu {
	padding-top:0px;
	padding-bottom:0px;
}

#mainnav .navbar .dropdown-menu li {
	color:#ffffff;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
	background: rgb(255,183,107); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
	
}

#mainnav .navbar .dropdown-menu li a {
	color:#ffffff;
	font-size:18px;
	padding-top:8px;
	padding-bottom:8px;
}

#mainnav .navbar .dropdown-menu li a:hover {
	color:#ffffff;
	background:#E37907;
}

#content {
	padding-left:10px;
	padding-right:10px;
}

#slide {
	padding:10px;
	background:#ffffff;
	margin-bottom:0px;
	
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;

	-webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
}

.block {
	margin-bottom:30px;
	font-size:13px;
	
}

.block-title {
	margin-bottom:0px;
	padding:8px 10px;
	font-size:20px;
	font-family:'BebasNeue';
	color:#ffffff;
	text-transform:uppercase;
	font-weight:normal;
}

.block-content {
	font-size:15px;
	padding:10px 10px;
}

#login {
	
	background:#ffffff;
	margin-bottom:20px;
	
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;

	-webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
}

#login a.btn-default,
#login button.btn-default {
	
	color:#A7E0F3;
	font-weight:bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#157bb1+0,0e557f+100 */
	background: #157bb1; /* Old browsers */
	background: -moz-linear-gradient(top,  #157bb1 0%, #0e557f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#157bb1), color-stop(100%,#0e557f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #157bb1 0%,#0e557f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #157bb1 0%,#0e557f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #157bb1 0%,#0e557f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #157bb1 0%,#0e557f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#157bb1', endColorstr='#0e557f',GradientType=0 ); /* IE6-9 */

}

#login input { 
	width:100%;
	background:#FBFBFB;
	padding:5px;
	margin-bottom:10px;
	font-family:'Open Sans';
}

#login input:focus {
	background:#ffffff;
}

#bottom {
	padding-top:30px;
	margin-bottom:0px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#014d74+0,0a3456+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+75 */
background: rgb(255,168,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 75%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(75%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 75%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 75%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 75%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */

}

#bottom .block {
	margin-bottom:0px;
}

#bottom .block-content {
	font-family: calibri;
	color:#ffffff;
	font-size:12px;
}

#bottom .block-content a {
	color:#ffffff;
}

#bottom .block-content a:hover {
	color:#eeeeee;
	text-decoration:none;
}

#bottom .block-title {
	text-align:left;
}




#footer {
	text-align:center;
	background:url('images/header-shadow.png') no-repeat;	
	box-shadow: inset 0 3px 150px rgba(0, 0, 0, 0.7);
	color:#ffffff;
	font-size:11px;
	background:#012A42;
}

#rightbar .block {
	-webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
}

#rightbar .block-title {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+75 */
	background: rgb(255,168,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(75%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 75%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

#rightbar .block-content {
	background:#ffffff;
}

#righbar .block-title {
	color:#ffffff;
	background:url('images/mainnavbg.png') repeat-x center center !important;
}

#leftbar .block-content {
	background:#FBC485;
	border: 1px solid #F9AC55;
}

#leftbar .block-title {
	padding:0px;
	padding-bottom:4px;
	border-bottom:1px solid #568D94;
}

#leftbar .block-title span {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
	background: rgb(255,183,107); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */

	color:#ffffff;
	padding:5px 10px;
}

#centerbar .block-content {

}

#centerbar .block-title {
	padding:0px;
	padding-bottom:4px;
	border-bottom:1px solid #568D94;
}

#centerbar .block-title span {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
background: rgb(255,183,107); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */

	color:#ffffff;
	padding:5px 10px;

}

.block-title span.icon {
	float:right;
	margin-right:5px;
}

.mainmenu {
	font-family: calibri;
	font-size:11px;
}



.gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e67817+0,c56522+100 */
	background: #e67817; /* Old browsers */
	background: -moz-linear-gradient(top,  #e67817 0%, #c56522 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e67817), color-stop(100%,#c56522)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e67817 0%,#c56522 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e67817 0%,#c56522 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e67817 0%,#c56522 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e67817 0%,#c56522 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67817', endColorstr='#c56522',GradientType=0 ); /* IE6-9 */
	
}




.block-bottom {

}

.block-bottom .block-title {
	background:none;
	font-size:14px;
	color:#ffffff;
}


.item-carousel .slide-thumbnail {
	width:100px;
	margin-right:10px;
	float:left;
}

.item-carousel .slide-excerpt {
	min-height:90px;
}

.item-carousel {
	padding-left:15px;
	padding-right:15px;
	width:450px;
	height:200px;
	float:left;
}

.sitemap .content-block {
	padding-left:10px;
	padding-bottom:10px;
}

.grafik-post .content-block {
	padding:10px;
}

.event .content-block {
	padding:10px;
}

.indeks-berita .content-block {
	padding:10px;
}

.indeks-berita .content-block .list-view .pagination {
	text-align:center !important;
}

.shadow-separator {
	background: #efefef url('images/header-shadow.png') no-repeat center;
	width: 100%;
	height: 26px;
}

#copyright {
	padding:10px;
	color:#ffffff;
	text-align:center;
	background:#002C46;
	
}

.link-list ul.image {
	padding-left:0px;
}
.link-list .image li {
	list-style:none;
	display:inline;
	
}

.link-list a img {
	margin-bottom:3px;
}

.post-home h1 {
	font-size:18px;
	font-family: calibri;
	margin-top:0px;
}

.post-home .post-home-list {
	margin-bottom:20px;
	padding-bottom:20px;
	background:url('images/separator-home-post.png') no-repeat bottom left;
}

.post-home .col-xs-3 {
	padding:0px;
}

.post-home .col-xs-9 {
	padding-right:0px;
}

.post-list-recent .col-xs-3 {
	padding-right:0px;
}

.post-list-recent .col-xs-9 {
	padding-right:0px;
}	


#photo-index .summary {
	margin-bottom:20px;
}

.post-list-title {
	font-size:20px;
	line-height:26px;
}	

.photo-list {
	float:left;
	
	overflow:hidden;
	margin-right:20px;
	margin-bottom:20px;
	background:#ffffff;
	
	border: 1px outset rgba(150,150,150,.3);
	border-width: 1px 1px 2px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

.photo-list-item{
	margin:10px;
	float:left;
	width:150px;
	height:100px;
	overflow:hidden;
}

.video-list-title {
	font-size:20px;
	line-height:20px;
	margin-top:5px;
	margin-bottom:10px;
}

.video-list-thumbnail {
		
	background:#ffffff;
	padding:0px;
	
	border: 1px outset rgba(150,150,150,.3);
	border-width: 1px 1px 2px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

.table tbody th,
.table tbody td {
	border-top:1px solid #FFFFFF !important;
}



